<div>
  <h2>Registro</h2>
  <form [formGroup]="formRegistro" class="registro-form">
    <mat-form-field>
      <input matInput placeholder="Nombre de usuario" formControlName="displayName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="correo electrónico" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="password" type="passwor" formControlName="password">
    </mat-form-field>

    <button mat-fab (click)="registro()" aria-label="Example icon button with a heart icon">
      <mat-icon>how_to_reg</mat-icon>
    </button>
  </form>
</div>
