<div>
  <h2>Registro</h2>
  <form class="registro-form">
    <mat-form-field>
      <input matInput placeholder="Nombre de usuario">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="correo electrónico">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="password" type="password">
    </mat-form-field>

    <button mat-fab disabled aria-label="Example icon button with a heart icon">
      <mat-icon>how_to_reg</mat-icon>
    </button>
  </form>
</div>
