
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.fondo {
  background-color: rgba(155, 155, 155, 0.5);
}

.text {
  flex: 1;
}

.buttons {
  display: flex;
  gap: 12px;
}

.fab-container {
  position: fixed;
  top: 50%;

  right: 16px;
  transform: translateY(-50%);
  z-index: 1000;
}

.floating-btn {
  cursor: grab;
  border-radius: 50%;
  background-color: #1976d2;
  color: #fff;
  user-select: none;
  transition: box-shadow 0.3s ease;
}

.floating-btn:active {
  cursor: grabbing;
}

.truncate-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}
