<!-- lista de notas -->
@if (notas) {
  @for (nota of notas; track $index) {
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>
          {{ nota.titulo }}
        </span>
        <span matListItemLine>
          {{ nota.contenido }}
        </span>
      </mat-list-item>
      <mat-action-list class="example-button-row">
        <button mat-fab style="background: red;color: whitesmoke" (click)="eliminarNota(nota.id)" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-fab routerLink="/detalle-nota/{{nota.id}}" aria-label="Example icon button with a delete icon">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-action-list>
    </mat-list>
    <button class="fab" mat-fab>
      <mat-icon>add</mat-icon>
    </button>

  }
}
