.example-button-row {
  display: flex;
  justify-content: center;
  width: 120px;
  margin: 10px auto;
  button {
    margin: 5px;
  }
}
button.fab{
    right: 0;
    position: absolute;
    margin: 10px;
}
