.container {
  width: 600px;
  margin: 10px auto;
  height: 500px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.form-container {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.login-form, .register-form {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #1976d2;
  background: linear-gradient(90deg, #b0d3f6 10%, #1976d2 100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}


.btn-toggle {
  background-color: white;
  color: #1976d2;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  transition: background 0.3s;
  position: relative;
  z-index: 2;
}

.btn-toggle:hover {
  background-color: #1565c0;
  color: white;
}

.register-active .forms-container {
  transform: translateX(-50%);
}

.register-active .panel {
  transform: translateX(100%);
  background: linear-gradient(90deg, #1976d2 , #b0d3f6 90%);
}
